<div class="banner">
  <div class="div-1-banner">
  <h1>Cocktail for a crazy night</h1>
  <p>This website is dedicated to cocktails</p>
  <!-- <img src="/images/images_home_1.jpg" alt="image d'un cocktail"> -->
  <%= link_to new_cocktail_path do %>
     <i class="fas fa-arrow-circle-down fa-3x"></i>
    <% end %>
  </div>
</div>

<div class="title-section2"><h2>Quelques cocktails ont déjà été créés</h2></div>

  <div class="row">
      <% @cocktails.each do |cocktail|  %>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card-category">
          <%= link_to "#{cocktail.name}", cocktail_path(cocktail.id) %>
        </div>
      </div>
      <% end %>
  </div>

<br>
  <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary" %>

  <%= link_to new_cocktail_path do %>
    <i class="fas fa-pencil-ruler"></i>
  <% end %>
