// Import page-specific CSS files here.
@import "home";

h1 {
  color: grey;
  font-style: italic;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.button {
  color: pink;
}

.cards {
  display: grid;
  // display: flex;
  // justify-content: space-around;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  height: 200px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1)
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
