.banner {
  background-image: image-url('image_home_1.jpg');
  height: 100vh ;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.banner h1 {
  font-weight: bolder;
}

.fa-arrow-circle-down {
  color: white;
}

.div-1-banner {
  padding-top: 500px;
}
